@model ATM.Models.Transaction

@{
    ViewBag.Title = "Withdrawal";
}

<h2>Withdrawal</h2>
<h3>Account #: @Model.AccountId</h3>

@using (Html.BeginForm("Withdrawal", "Transaction"))
{
    <div class="form-group">
        @Html.LabelFor(t => t.Amount):
        @Html.TextBoxFor(t => t.Amount, new { @Value = "" })
    </div>
    <p>@TempData["message"]</p>
    @Html.HiddenFor(t => t.AccountId)

    <button type="submit" class="btn btn-primary">Submit</button>
    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "clsButtonFake" })
}
